#range-slider {
  margin: auto;
  height: 50px;
  overflow: hidden;
  border-radius: 0;
  background: transparent;
  position: fixed;
  bottom: 0;
}

::ng-deep #range-slider .range-slider__thumb {
  width: 2px;
  border-radius: 2px;
  height: 60px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='18' fill='%23333' viewBox='0 0 24 24'%3E%3Cpath d='M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z' /%3E%3C/svg%3E")
    #ffffffc9;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: visible;
}

::ng-deep #range-slider .range-slider__range {
  border-radius: 4px;
  background: #cfcfcf14;
  box-sizing: border-box;
  box-shadow: 0 0 0 9999px rgba(24, 24, 24, 0.8);
}

.tooltips {
  display: none;
}
#range-slider:hover + .tooltips {
  display: inline;
}

.sliderbg {
  background-color: rgba(28, 28, 28, 1);
}
