
.node[aria-level="2"],
.node[aria-level="3"] {
  position: relative;
}

.node[aria-level="3"]::after,
.node[aria-level="2"]::before,
.node[aria-level="3"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  width: 1px;
  background-color: #757575;
  mix-blend-mode: color-dodge;
}

.node[aria-level="3"]::before {
  left: 25px;
}

.node[aria-level="2"]::before,
.node[aria-level="3"]::before {
  height: 100%;
}


.node div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
